<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/Mac_PB.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Bem-Vindo Ao Museu</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Vamos fazer um tour com algumas das nossas obras de Arte!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      
    </ion-list>
</ion-content>
