<ion-header>
  <ion-toolbar>
    <ion-title>obra2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card mb-3">
        <img src="/assets/img/Adriano.jpg" class="card-img-top" alt="Adriano" width="100%">
        <div class="card-body">
          <h5 class="card-title">Adri Ano</h5>
          <p class="card-text">Pintura contemporânea recentemente exportada para o exterior, pai do pródigio Milton Flavio, e amigo de todos. 
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <button ion-button (click)="proxima()" color="light">Próxima</button>
</ion-content>
